.navbar-nav {
  background-color: #2C9199;
}

.img-banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.shop-qrcode-image {
  height: 276px;
  margin-top: 43px;
}

.qr-title {
  font-size: 2.65em;
  width: 90%;
  margin-left: 10px;
  margin-bottom: 0;
  margin-top: 10px;
}

.qr-adresse {
  margin-left: 10px;
  color: #B1E4E3;
  font-size: 18px;
}

.qr-description {
  text-align: center;
  font-size: 22px;
  padding-top: 10px;
  margin-left: 10px;
}

.qrcode {
  border-radius: 24px;
  background-size: cover;
  display: flex; /* or inline-flex */
  justify-content: center;
  background: linear-gradient(70deg, #BDE9C9, #58C9D4);
  padding: 25px 0 25px 0;
  margin-bottom: 25px;
}

.sticky-btn {
  position: sticky;
  /*float: right;*/
  right: 0;
  height: 0;
  bottom: 0;
  z-index: 1;
}

.container-rappel-resa {
  text-align: center;
}

.rappel-resa-title {
  font-size: 1.65em;
}

.nav-items{
  padding-bottom: 5px;
}

.item {
  padding-top: 15px;
  margin-right: 15px;
}

.item a {
  text-decoration: none;
  color: black;
}

.fa-arrow-left {
  margin-left: 20px;
}

.resa-items {
  font-size: 20px;
}

.resa-total {
  font-size: 20px;
}

.btn-consignes {
  font-size: 20px;
}

.content-wrapper-qrcode {
  min-height: calc(50vh - 70px - 80px);
}
