.qr_page_title {
    display: flex; /* or inline-flex */
    justify-content: center;
    font-size: 1.65em;
    padding: 60px 12px 10px 12px;
}

.qr-description {
  text-align: center;
}

.qrcode {
    border-radius: 24px;
    background-size: cover;
    display: flex; /* or inline-flex */
    justify-content: center;
    background: linear-gradient(70deg, #BDE9C9, #58C9D4);
    padding: 25px 0 25px 0;
    margin-bottom: 25px;
}

.btn-resa {
  position: sticky;
  bottom: 0px;
}

// .qr_page_description {
//     display: flex; /* or inline-flex */
//     justify-content: center;
// }
