<div class="justify-content-center container"><br>
  <p><strong><span id="important"><%= @shops.count %></span></strong> commerce(s) à côté de chez toi.</span>.</p>
</div>

<% @shops.each do |shop| %>
  <div class="card">
    <%= cl_image_tag shop.photo.key %>
    <div class="card-infos">
      <div>
        <h2><%= shop.name %></h2>
        <p>Catégorie : <%= shop.category %></p>
        <h3 class="card-distance">300m</h3>
      </div>
    </div>
  </div>
<% end %>
