<div class="container description-card">
    <%= cl_image_tag("awbgjqqlikmixzvdgbb6",
      width: 400, height: 300, crop: :fill) %>
    <h1>Adresse :</h1>
    <i class="fas fa-solid fa-star"></i>
    <h2> <%= @shop.address %> </h2>
    <p> <%= @shop.description %> </p>
</div>