// Specific CSS for your home-page
.search-home {
  background-color: #2C9199;
  color: white;
  padding: 30px;
}

.logo-home {
  width: 60%;
  align-items: left;
  margin-bottom: 5px;
}

.user-picture {
  width: 100px;
  vertical-align: right;
  align-items: right;
  border-radius: 50px;
  border-color: #FFBD36;
}

.item-home {
  display: flex;
}

.url-modifier {
  font-size: 12px;
  margin-left: 5px;
}