// Specific CSS for your home-page
.container-search-home {
  background-color: #2C9199;
  color: white;
  padding: 40px;
  padding-top: 25px;
  padding-bottom: 15px;
  margin: -15px;
}

.logo-home {
  width: 45%;
  align-items: left;
  margin-bottom: 5px;
}

.user-picture {
  width: 70px;
  vertical-align: right;
  align-items: right;
  border-radius: 50px;
  border-color: #FFBD36;
}

.item-home {
  display: flex;
}

.url-modifier {
  font-size: 16px;
}

.container-categories {
  margin-top: 5px;
  margin-left: 23px;
}

.container-distance {
  margin-left: 23px;
  margin-bottom: -20px;
}

.btn-home-search {
  background-color: #B1E4E3;
  border: 1px solid #B1E4E3;
}

.form-search {
  padding-top: 4px;
  padding-bottom: 7px;
  width: 323px;
}

// .btn-ghost {
//   color: black;
//   font-size: 16px;
//   border: 1px solid #B1E4E3;
//   border-radius: 50px;
//   font-weight: lighter;
//   transition: opacity 0.3s ease;
// }

.category {
  margin-top: 20px;
  font-size: 16px;
  font-weight: lighter;
  color: #2C9199;
  font-style: italic;

}

.content-container {
  margin-left: 15px;
}

.shop-distance-carousel {
  margin-left: -12px;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
  width: auto;
  p {
    white-space: pre-line;
  }
}

.shop-distance-carousel a {
  color: black;
  text-decoration: none;
}

.distance-shop-card {
  border-radius: 15px;
  display: inline-block;
  height: 50vh;
}

.card-shop-distance-category-description {
  font-size: 16px;
}

.shops-category {
  margin-left: 20px;
  margin-top: -28px;
  margin-bottom: 15px;
}

.btn-modal-home {
  margin-left: 18px;
}

// .modal-body {
//   color: #2C9199;
// }

.content-wrapper-home {
  min-height: calc(30vh - 70px - 80px);
}
