  <div class="icon-bar">
      <nav class="nav-bar">

    <a class="menu <%= "active-navbar" if (controller.controller_name == "pages" && controller.action_name == "home") %>" href="/"><i class="fas fa-home"></i><p class="nav-name">Accueil</p></a>

    <a class="menu <%= "active-navbar" if (controller.controller_name == "shops" && controller.action_name == "index") %>" href="/shops"><i class="fas fa-search"></i><p class="nav-name">Recherche</p></a>

    <a class="menu <%= "active-navbar" if (controller.controller_name == "rentals" && controller.action_name == "index") %>" href="/rentals"><i class="fas fa-user"></i><p class="nav-name">Compte</p></a>

    </nav>
</div>

<!----<i class="fa-light fa-user"></i> <i class="fa-light fa-house-blank"></i><i class="fa-light fa-magnifying-glass"></i></i>------->
<!----<i class="fas fa-home"></i><i class="fas fa-search"><i class="fas fa-user"></i></i>---->
