<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="navbar-nav">

    <div class="nav-item active">

      <%
=begin%>
 <%= link_to "/", class: "nav-link" do %>
        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="black" class="bi bi-house-door" viewBox="0 0 16 16"><path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z"/>
        </svg><br>Accueil
      <% end %> 
<%
=end%>

    </div>

    <div class="nav-item">

      <%= link_to shops_path, class: "nav-link" do %>
<svg version="1.0" xmlns="http://www.w3.org/2000/svg"
 width="28" height="28" viewBox="0 0 512.000000 512.000000"
 preserveAspectRatio="xMidYMid meet">

<g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
fill="#C8C9C7" stroke="none">
<path d="M2200 4704 c-308 -35 -498 -88 -720 -199 -185 -93 -323 -190 -473
-334 -606 -582 -765 -1489 -390 -2236 410 -816 1319 -1232 2199 -1005 242 63
451 165 700 345 11 7 111 -87 426 -401 456 -454 455 -453 560 -441 132 16 213
142 178 274 -12 44 -46 81 -429 466 -317 318 -413 421 -406 431 195 268 309
518 371 808 32 153 44 440 25 594 -34 272 -125 542 -256 759 -202 333 -475
583 -820 750 -189 91 -345 140 -543 170 -97 15 -356 27 -422 19z m433 -453
c392 -83 718 -302 938 -629 340 -506 340 -1155 2 -1666 -90 -136 -273 -319
-409 -409 -284 -188 -614 -274 -947 -247 -526 43 -980 347 -1214 813 -346 690
-118 1522 533 1939 164 105 397 189 605 218 109 15 381 5 492 -19z"/>
</g>
</svg>Recherche
      <% end %>

    </div>

    <div class="nav-item">

      <%
=begin%>
 <%= link_to rentals_path, class: "nav-link" do %> <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="#C8C9C7" class="bi bi-qr-code" viewBox="0 0 16 16"><path d="M2 2h2v2H2V2Z"/><path d="M6 0v6H0V0h6ZM5 1H1v4h4V1ZM4 12H2v2h2v-2Z"/><path d="M6 10v6H0v-6h6Zm-5 1v4h4v-4H1Zm11-9h2v2h-2V2Z"/><path d="M10 0v6h6V0h-6Zm5 1v4h-4V1h4ZM8 1V0h1v2H8v2H7V1h1Zm0 5V4h1v2H8ZM6 8V7h1V6h1v2h1V7h5v1h-4v1H7V8H6Zm0 0v1H2V8H1v1H0V7h3v1h3Zm10 1h-1V7h1v2Zm-1 0h-1v2h2v-1h-1V9Zm-4 0h2v1h-1v1h-1V9Zm2 3v-1h-1v1h-1v1H9v1h3v-2h1Zm0 0h3v1h-2v1h-1v-2Zm-4-1v1h1v-2H7v1h2Z"/><path d="M7 12h1v3h4v1H7v-4Zm9 2v2h-3v-1h2v-1h1Z"/></svg><br>QRCode</a>
      <% end %> 
<%
=end%>
    </div>

    <div class="nav-item">

      <%
=begin%>
 <%= link_to rentals_path, class: "nav-link" do %><svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="#C8C9C7" class="bi bi-person" viewBox="0 0 16 16"><path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
      </svg><br>Compte</a>
      <% end %> 
<%
=end%>
    </div>
  </div>
</nav>
