<h4><%= shop.name %></h4>
<p class="map_adress"><%= shop.address %></p>
<p class="map_category"><%= shop.category.gsub('_', ' ')  %></p>
<%= link_to "En savoir plus", shop_path(shop.id), class: "btn dash-info-button" %>
