.description-card {
  width: 95%;
}

.shop-show-title {
  width: 90%;
  padding: 0;
  margin-top: 95px;
}

.shop-show-big-image {
    background-size: cover;
    max-width: 100%;
    height: auto;
    margin: 12px 0;
    border-radius: 9px;
}

.sub-card-button {
    display: flex;
    justify-content: space-between;
    padding: 12px 2px;
}

.description-card-menu-show {
  margin-bottom: 0px;
}

#shop-address {
    font-size: 16px;
    color: #B1E4E3;
}

#categorie-shop {
    font-style: italic;
    color: #C8C9C7;
}

/*----------MENU SHOW-------------------*/

.card-menu-show {
  display: flex;
  justify-content: space-between;
}
.name-card-menu-show  {
  font-weight: bolder;
  margin-bottom: 0px;
}

.card-menu-show-text-align {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 8px;
}

.picture_menu_show {
  display: flex;
  border-radius: 5px;
}

.price-card-menu-show {
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: bolder;
  color: #FFBD36;
  border: #2C9199;
}

[data-target="#target267"]{
  word-spacing: 2px;
}
#btn-link a {
  text-decoration: none !important;
  color:#2C9199;
  font-weight: normal;
  margin: 5px;
}

#btn-link a:hover {
  text-decoration: none !important;
  color:#2C9199;
  font-weight: normal;
  margin: 5px;
}

.increment-button {
  display: flex;
  text-decoration: none;
  background-color:  #2C9199;
  color:white;
  margin: 3px;
  font-weight: bolder;
  border-radius: 50%;
  width: 90%;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
}

.increment-button-display {
  display: flex;
  align-items: center;
}

.increment-button-number {
  max-width: 50px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.category-show {
  font-size: 16px;
  font-weight: lighter;
  color: #2C9199;
  font-style: italic;
}

/*---------- Commerçant similaire -----------*/

.title-similaire {
  margin-left: 20px;
}

.commercant-similaire-carousel {
  margin-left: 10px;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
  width: auto;
  p {
    white-space: pre-line;
  }
  height: 550px;
}

.commercant-similaire-carousel a {
  color: black;
  text-decoration: none;
}

.commercant-similaire {
  border-radius: 15px;
  display: inline-block;
  height: 50vh;
}

#couleur-heure{
  color: #2C9199 !important;
}

#menu-show {
  font-size: 20px;
  // font-weight: 900;
  margin-bottom: 0;
}

.btn-index-shop {
  background-color: #B1E4E3;
  border: 1px solid #B1E4E3;
  text-align: center;
  width: 100%;
}


/*------------MENU--------------*/

.card-menu-list {
  width: 100%;
  max-width: 40rem;
}

ul li {
  text-decoration: none;
  list-style: none;
}

input[type=number] {
  background-color: white;
  border: 1px solid #B1E4E3;
  border-radius: 10px;
  width: auto;
}
