.description-card {
    border-radius: 12px;
    width: 90%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.shop-show-title {
    width: 90%;
    padding: 0;
}

.shop-show-big-image {
    background-size: cover;
    max-width: 100%;
    height: auto;
    margin: 12px 0;
    border-radius: 9px;
}

.sub-show-card {

}

.sub-card-button {
    display: flex;
    justify-content: space-between;
    padding: 12px 2px;
}

#shop-title {

}

#shop-address {
    font-size: 16px;
    color: #B1E4E3;
}

#categorie-shop {
    font-style: italic;
    color: #C8C9C7;
}

.card-menu-show {
  display: flex;
  justify-content: space-between;
}

.card-menu-show-text-align {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.picture_menu_show {
  display: flex;
}

.name-card-menu-show {
  font-weight: bold;
  margin: 0px;
}

.price-card-menu-show {
  margin: 0px;
}


/*---------- Commerçant similaire -----------*/

#commercant-title-similaire{
  font-size: 20px;
  font-weight: bold;
  margin-left: 25px;
  margin-top: 30px;
}

.card-commercant-similaire{
    margin-left: 22px;
    margin-top: 20px;
    width: 374px;
    background-color: white;
    filter: drop-shadow(0 0 0.75rem #C8C9C7);
    padding: 15px;
    border-radius: 15px;
    display: inline-block;
}

.commercant-similaire-carousel{
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
    width: auto;
    height: 670px;
    p {
      white-space: pre-line;
    }
}

#categorie-commercant{
 color:  #C8C9C7;
}

#couleur-heure{
  color: #2C9199 !important;
}

#menu-show {
  font-size: 20px;
  font-weight: 900;
}


/*------------MENU--------------*/

.card-menu-list {
  width: 100%;
  max-width: 40rem;
}

ul li {
  text-decoration: none;
  list-style: none;
}
