.card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 10px;
}

.card > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-infos h2 {
  color: black;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-infos p {
  font-size: 12px;
  color: #C8C9C7;
  opacity: .7;
  margin: 0;
}

.card .card-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-infos .card-distance {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 60px;
  background: white;
  border-radius: 50px;
  height: 100%;
}

.card-infos h3 {
  font-size: 14px;
  color: #B1E4E3;
  padding-top: 25px;
  padding-left: 10px;
  font-weight: bold;
}
