.icon-bar {
  width: 100%; /* Full-width */
  background-color: #F9F9F9; /* Light-grey background */
  overflow: auto; /* Overflow due to float */
  bottom: 0;
  position: fixed;
  z-index: 100;
  color: #C8C9C7;
  padding-top: 5px;
  text-decoration: none;
}

.menu {
  float: left; /* Float links side by side */
  text-align: center; /* Center-align text */
  width: 33%; /* Equal width (5 icons with 20% width each = 100%) */
  padding: 2px 0; /* Some top and bottom padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: #C8C9C7; /* Light grey text color */
  font-size: 36px; /* Increased font size */
  // margin-left: 60px;
  // margin-right: 30px;
}

.menu:hover {
  text-decoration: none;
  color: black;
}

.nav-bar:hover {
  text-decoration: none;
  color: black;
}

.nav-name {
  font-size: 16px;
}

nav ul li{
  list-style:none;
  float:left;
  padding-right:20px;
}
nav ul li a{
  text-decoration:none;
  background-color:#ccc;
  padding:4px 5px;
}
.active-navbar{
  color:black;
  fill:black;
}
