.navbar {
  bottom: 0;
  width: 100%;
  position: fixed;
  z-index: 100;
}

.navbar-nav {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.nav-link {
  color: #C8C9C7;
}

.nav-item {
  margin-right: 30px;
  margin-left: 5px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
