html{
  height: 100%;
  overflow: auto;
}

/*----------Header----------*/
.header-dashboard{
  display: flex;
  margin-left: 15px;
  margin-top: 30px;
}

.text-header-dashboard{
  margin-left: 15px;
}

.image-header-dashboard{
  margin-left: 15px;
}
/*----------MENU DASHBOARD STATUT----------*/
.menu-dashboard-statut ul li{
  display: inline-block;
  font-size: 16px;
  margin-top: 30px;
}

a.nav-menu-dashboard {
    color: #329190;
    text-decoration: none;
    background-color: transparent;
    border: 2px solid #B1E4E3;
    padding: 5px 22px 5px 22px;
    border-radius: 30px;
}

.nav-pills-dashboard .nav-menu-dashboard.active{
  background-color: #B1E4E3;
  border: 2px solid #B1E4E3;
  padding: 5px 25px 5px 25px;
  border-radius: 30px;
}

.nav{
  margin-top: 40px;
  margin-left: 27px;
}
/*----------Notification----------*/

/*.-count, .-count:before, .ringBell:after {
  position: absolute;
}

.-count, .-count:before {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}


.-count {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #FFBD36;
  margin: -55px 0px 0px 95px;
  margin-top: -49px;
  font-size: 16px;
  font-weight: bold;
  z-index: 90;
}

.number-consigne-span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #FFBD36;
  border-radius: 50px;
  margin: -55px 0px 0px 79px;
  margin-top: -15px;
  margin-left: 10px;
  font-size: 16px;
  font-weight: bold;
}*/

/*----------MENU CARD----------*/

.big-div-shops {
    display: flex;
    flex-direction: column;
}

.aligner {
    justify-content: center;
}

.dash-card {
    display: flex;
    align-items: center;
    padding-bottom: 12px;
    height: 140px;
    overflow: visible;
}

.big-div-shop {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.div-shop-item {
    align-items: center;
    font-size: 16px;
    margin: 0;
    margin-top: -25px;
}

.div-shop-item p {
    margin-top: 0;
    margin-bottom: 5px;
}

.dash-shop-pic {
    padding: 0 12px 0 12px;
    z-index: -1000;
    margin-top: -25px;
}

.dash-info-button {
    border: none;
    background-color: #329190;
    border-radius: 8px;
    color: white;
    font-size: 16px;
}

#dash-menu-info-text {
    font-size: 24px;
    font-weight: bold;
    margin-top: 40px;
    margin-left: 15px;
    margin-bottom: 30px;
}

#button-comment{
  margin-left: 5px;
}
.dash-comment-button{
    border: 2px solid #329190;
    background-color: white;
    border-radius: 8px;
    color: black;
    font-size: 16px;
    padding: 4px 10px 4px 10px;
}

.dash-comment-button:hover{
background-color: #329190;
border: 2px solid #329190;
color: white;
}

.dash-info-button:hover{
background-color: #329190;
border: 2px solid #329190;
color: white;
}

.button-dashboard-card{
  display: flex;
}

ul li{
      margin-right: 5px;
}

/*----------ASTUCE FOOTER----------*/

.content-wrapper-dashboard {
  min-height: calc(30vh - 70px - 80px);
}
